# Example settings for node.
node:
  version: '0.10.35' # version if you do not want 'latest'
  npm:
    # Run npm install if the node_modules folder exists
    test_node_modules: true
    # Install the non-global packages as this user
    install_user: vagrant
    # A list of directories to run "npm install" in.
    install_dirs:
      - /path/to/package.json
      - /another/path/to/package.json
    # A list of packages to globally install
    install_pkgs:
      - 'bower'
      - 'pm2@0.9.2'
